<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">
      <div id="root" v-if="mailArray.length == 10">

        <img id="logo" src="logo.png" alt="">

        <h2>
          I finalisti per l'edizione 2020 random Boolean sono...
        </h2>
        <h2>oooooooo:</h2>

        <ul id="mail-list" v-if="mailArray.length == 10">
          <li
          v-for="(mail, index) in mailArray"
          >
          <div class="box-mail">

            <p>{{index}}  {{mail}}</p>

          </div>

          </li>
        </ul>

        <h2>
          Il vincitore della lotteria Boolean è:
        </h2>

        <div v-if="mailArray.length == 10" class="box-mail">
          <p>{{randomMail()}}</p>
        </div>

        <h2>
          COMPLIMENTI! HAI VINTO UN SERVIZIO DI PIATTI... DI PLASTICA
        </h2>

      </div>
    </div>




    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
